@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

* {
    font-family: "Stylish", sans-serif;
}

input[type=text]:focus, textarea.form-control:focus {
    box-shadow: inset 0 0 0 1px black;
    border: 1px solid black;
}

.wrap {
    width: 1200px;
    margin: auto;
}

.form-post {
    width: 500px;
    padding: 20px 0 0;
    border-radius: 5px;
}

.card[data-editting] > .view {
    display: none;
}

.card:not([data-editting]) > .edit {
    display: none;
}

.btn-xs.btn-xs {
    padding: 0px 4px;
    font-size: 0.8em;
}
