<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>SW사관학교 정글 | 간단메모</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:title" content="SW사관학교 정글 과제 제출합니다." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="#">
  <meta property="og:description" content="지원자 정지윤 | 나홀로 메모장 제출">
  <link rel="stylesheet" href="../static/style.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
</head>
<body>
  <div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">나홀로 메모장</h1><!-- TODO: ver 2.0 표시하기-->
        <div id="post-box" class="form-post">
          <div class="form-group">
              <input id="post-title" class="form-control" placeholder="메모 제목을 입력하세요">
          </div>
          <div class="form-group">
              <textarea id="post-content" class="form-control" placeholder="내용을 입력하세요" rows="2"></textarea>
          </div>
          <button type="button" class="btn btn-primary" onclick="postArticle()">저장하기</button>
        </div>
      </div>
      <div id="card-box"></div>
    </div>
    
  </div>  
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
  <script>
    function postArticle() {
      const title = $("#post-title").val();
      const content = $("#post-content").val();
      // TODO: 에러 핸들링
      $.ajax({
        type: "POST",
        url: "/api",
        data: JSON.stringify({title, content}),
        contentType: 'application/json',
        success: function (response) {
          // 게시물 작성하고 form 비우기
          $('#post-title').val('')
          $('#post-content').val('')
          window.location.reload()
        }
      })
    }

    // TODO: 에러 핸들링
    $.ajax({
      type: "GET",
      url: "/api",
      data: {},
      success: function (response) {
        for (const article of response.articles) {
          const { _id: id, title, content } = article
          const temp_html = `
            <div id="${id}" class="card">
              <div class="view card-body">
                <h1 class="title">${title}</h1>
                <p class="content card-text">${content}</p>
                <button onclick="startUpdateArticle('${id}')">수정</button>
                <button onclick="deleteArticle('${id}')">삭제</button>
              </div>
              <form class="edit card-body" onsubmit="finishUpdateArticle(event, '${id}')">
                <p><input type="text" name="newTitle" value="${title}"></p>
                <p><textarea name=newContent>${content}</textarea></p>
                <input type="submit" value="저장">
              </form>
            </div>
          `
          $("#card-box").prepend(temp_html)
        }
      }
    })

    function startUpdateArticle(id) {
      $(`#${id}`).attr('data-editting', true)
    }

    function finishUpdateArticle(event, id) {
      event.preventDefault()
      $(`#${id}`).removeAttr('data-editting')

      const title = event.target.newTitle.value
      const content = event.target.newContent.value

      // TODO: 에러 핸들링
      $.ajax({
        type: "PUT",
        url: `/api/${id}`,
        data: JSON.stringify({title, content}),
        contentType: 'application/json',
        success: function (response) {
          $(`#${id} > .view > .title`).text(title)
          $(`#${id} > .view > .content`).text(content)
        }
      })
    }

    function deleteArticle(id) {
      $.ajax({
        type: "DELETE",
        url: `/api/${id}`,
        success: function (response) {
          alert('삭제 완료!')
          window.location.reload()
        }
      })
    }
  </script>
</body>